<footer class="footer">

  <div class="page__wapper">
    <div class="page__row">
      <div class="page__item_box col-lg-12">
        <div class="footer__top">
          <img src="/img/main/dof_main_logo.png" alt="">
          <ul class="footer__sns_ul">
            <li class="footer__sns_list">
              <a href="" class="footer__sns_an">
                <img src="/img/main/twitter_icon.png" alt="SNS icon" class="footer__sns_img">
              </a>
            </li>
            <li class="footer__sns_list">
              <a href="" class="footer__sns_an">
                <img src="/img/main/instagram_icon.jpg" alt="SNS icon" class="footer__sns_img">
              </a>
            </li>
            <li class="footer__sns_list">
              <a href="" class="footer__sns_an">
                <img src="/img/main/facebook_icon.png" alt="SNS icon" class="footer__sns_img">
              </a>
            </li>
            <li class="footer__sns_list">
              <a href="" class="footer__sns_an">
                <img src="/img/main/youtube_icon.png" alt="SNS icon" class="footer__sns_img">
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="page__item col-lg-12">
        <div class="footer_info">
          <p class="footer_info_p">info@doflab.com</p>

          <p class="footer_info_p">+82 70-5057-5577</p>
          <p class="footer_info_p">
            601-602, 77, Seongsuil-ro, Seongdong-gu, Seoul, 04790 Korea
          </p>
        </div>


      </div>
      <div class="page__item col-lg-12">
        <div class="footer__nav_box">
          <ul class="footer__nav">
            <li class="footer__nav_list">
              <a href="/" class="footer__nav_an">
                Contact Us
              </a>
            </li>
            <li class="footer__nav_list">
              <a href="/" class="footer__nav_an">
                Privacy Policys
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <div class="page__wapper">




  </div>
</footer>