<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- common -->
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" href="/dist/assets/css/reset.min.css">
  <!-- <link rel="stylesheet" href="/dist/assets/css/common/base.min.css">
  <link rel="stylesheet" href="/dist/assets/css/common/header.min.css">
  <link rel="stylesheet" href="/dist/assets/css/common/menu.min.css"> -->
  <link rel="stylesheet" href="/dist/assets/css/common/bundle.min.css">
  <link rel="stylesheet" href="/dist/assets/css/pages/<%= cssName %>.min.css">

  <script src="/dist/assets/js/polyfills.js"></script>
  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>