<header class="header">
  <div class="header__wrap">
    <div class="header__bar">

      <h1 class="header__logo">
          <a href="/">
            <img src="/img/main/dof_main_logo.png" alt="">
          </a>
      </h1>
      <div class="header__nav">
        <ul class="header__nav_ul">
          <li class="header__nav_list">
            <a href="" class="header__nav_an">lang</a>
          </li>
          <li class="header__nav_list">
            <a href="/about" class="header__nav_an">about</a>
          </li>
          <li class="header__nav_list">
            <a href="/users/signup" class="header__nav_an">join</a>
          </li>
          <li class="header__nav_list">
            <a href="/users/login" class="header__nav_an">login</a>
          </li>
        </ul>
      </div>
      <div class="header__user_box">

      </div>

    </div>
  </div>

</header>